/*Galler Tile*/
.gallerey-tile {
  display: flex;
  column-gap: 2%;
  height: 700px;
}
.gallerey-tile-left {
  display: flex;
  align-items: stretch;
  width: 50%;
  height: 100%;
}

.gallerey-tile-right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  row-gap: 2%;
}

.gallerey-tile-right-top {
  height: 49%;
  width: 100%;

}
.gallerey-tile-right-buttom {
  height: 49%;
  width: 100%;
}


.gallerey-tile_item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media (max-width: 1000px) {
  .gallerey-tile {
    height: 500px;
  }
}
@media (max-width: 700px) {
  .gallerey-tile {
    height: 300px;
  }
}
@media (max-width: 490px) {
  .gallerey-tile {
    height: 300px;
  }
}