/*Navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
}
.navbar_item {
  padding: 1%;
  width: 100%;
  font-weight: bold;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
  border: 1px solid #FA3737;
}
.navbar_item-active{
  background-color: #FA3737;
}
.navbar_item:hover {
  opacity: 0.8;
  transition: 0.2s ease-in;
}


@media (max-width: 1000px) {
  .navbar_item {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .navbar_item {
    font-size: 8px;
  }
}
@media (max-width: 490px) {
  .navbar_item {
    font-size: 6px;
  }
}