/*Blog*/
.blog-disc {
  padding: 2%;
  font-weight: 200;
  text-align: center;
  letter-spacing: 1px;
}
.blog-disc_tettle {
  padding: 2%;
  font-size: 25px;
}


@media (max-width: 1000px) {
  .blog-disc_tettle {
    font-size: 18px;
  }
  .blog-disc_text {
    font-size: 12px;
  }
}
@media (max-width: 700px) {
  .blog-disc_tettle {
    font-size: 16px;
  }
  .blog-disc_text {
    font-size: 10px;
  }
}
@media (max-width: 490px) {
  .blog-disc_tettle {
    font-size: 10px;
  }
  .blog-disc_text {
    font-size: 7px;
  }
}